/**
 * FORMS STYLE
 *
 * LONG DESC
 * @author
 */


 /* base */
.form-element {
	margin-top : 0.25em;
	margin-bottom : 0.25em;
}


 /* layout */
 .form-horizontal .form-element {
 	display : inline-block;
 } 
 .form-vertical .form-element  {
 	display : block;
 } 

 .form-element-horizontal > * {
 	display : inline-block;
 } 
 .form-element-vertical  > * {
 	display : block;
 } 

 /* states */
 .form input[type=text]:focus, 
 .form input[type=email]:focus, 
 .form input[type=password]:focus {

	box-shadow : 0 0 8px rgba(0,0,200, 0.7);

 }