 /**
 * NAVIGATION STYLE
 *
 * LONG DESC
 * @author
 */


/* base styles */
.nav ul, .nav li {
	list-style : none;
	margin     : 0;
	padding    : 0;
}

/* layout styles */
.nav li, .nav-horizontal li {
	display : inline-block; /* CSS3 (ab IE8)*/
	width   : 12em;
}
.nav-left li  {
	display : block;
	float   : left;
}
.nav-right li {
	display : block;
	float   : right;
}

.nav-vertical li {
	display : block;
	width   : 100%;
}

/* state styles */
.nav a[href]:hover { background-color : black; color : white; }

.nav a[href].active { background-color : gray; color : white;  }








.nav li::before {
	content : attr(data-icon);
	font-family : fantasy;
}










